.entirebook{
    background-image: url("../../assets/asset1/lovebook\ cover.png");
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}


.create{
    font-size: 40px;
    color:white;
background-color: red;
}
